#about
  .section
    =image_tag("#{@asset_root}/images/michaelanie.jpg", :class=>'michaelanie')
  .section.clearfix{:style=>"margin: 0px 0px 40px 0px;"}
    .left{:style=>"width:50%;"}
      %div{:style=>"padding:0px 2px 0px 0px;"}
        %h1
          MELANIE ALLISON SO
        %p.indent
          %span.purple
            Melanie 
          is super nice.  blahBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdf
    .right{:style=>"width:50%;"}
      %div{:style=>"padding:0px 0px 0px 2px;"}
        %h1
          MICHAEL HUAITZER LIN
        %p.indent
          %span.purple
            Michael 
          is amazing.  BLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdfBLAH LBHAdas dfasd fa sdf
  .section
    %h1
      HOW WE MET
    %p.indent
      Melanie and Michael met at Saratoga High School in 2002 and have been together ever since
  .section
    .gallery.clearfix
      =image_tag("#{@asset_root}/images/gallery/background.jpg", :style=>"float:left; width:70%;")
      =image_tag("#{@asset_root}/images/gallery/background.jpg", :style=>"float:right; width: 30%;")
      =image_tag("#{@asset_root}/images/gallery/background.jpg", :style=>"float:left; width: 50%;")
      =image_tag("#{@asset_root}/images/gallery/background.jpg", :style=>"float:right; width: 50%;")
      =image_tag("#{@asset_root}/images/gallery/background.jpg", :style=>"float:left; width: 30%;")
      =image_tag("#{@asset_root}/images/gallery/background.jpg", :style=>"float:right; width: 70%;")
